<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Contacts</title>
</head>
<body>

    <h3>List of IDs in Redis Database</h3>

    <ol>
        <li data-th-each="id: ${idList}">
            <a data-th-href="@{/contact/{id}(id=${id})}"><span data-th-text="${id}"></span></a>
        </li>
    </ol>

    <div>
        <a href="/">Home</a>
    </div>
    
    
</body>
</html>